.container__section_6 {
	margin-top: 20px;
}

.container_title_section_6 {
	display: flex;
	justify-content: space-between;
}

.items_showcase_header_section_6 {
	padding-bottom: 16px;
	font-size: 20px;
	line-height: 23px;
	font-weight: 700;
}

.container__section_6_see_all {
	display: flex;
	flex-direction: row;
	justify-content: end;
	align-items: center;
	gap: 5px;
}

.section__6_link_see_all {
	text-decoration: none;
	text-align: right;
	color: rgb(252, 76, 2);
	font-size: 14px;
	font-weight: 500;
}

.section_6_lazyload_wrapper {
	border-radius: 4px;
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
}

.container__section_6_lazyload {
	padding: 24px;
	box-shadow: -1px -1px 15px 3px #e5e5e5;
	background-color: #fff;
}

.section_6_lazyload_wrapper.dragging {
	scroll-snap-type: none;
	scroll-behavior: auto;
}

.section_6_lazyload_wrapper .overlay_image_section_6 {
	user-select: none;
}

.image_carousel_section_6 {
	width: 280px;
	height: 280px;
	vertical-align: middle;
}

.overlay_image_section_6 {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 280px;
	background-color: black;
}

.overlay_image_section_6:hover .image_overlay_text_section_6 {
	background-color: rgba(0, 0, 0, 0.6);
	transition: all 0.1s ease-in;
	color: white;
}

.overlay_image_section_6.slick-slide {
	width: 280px;
	height: 280px;
	background-color: black !important;
}

.image_overlay_text_section_6 {
	text-align: center;
	text-decoration: underline;
	font-weight: 700;
	font-size: 14px;
	width: 100%;
	position: absolute;
	bottom: 0;
	padding: 5px inherit;
	background-color: transparent;
	color: transparent;
}

.overlay_image_section_6 .image_overlay_text_section_6:hover {
	color: rgb(252, 76, 2);
}

@keyframes scroll {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}

@media screen and (max-width: 960px) {
	.items_showcase_header_section_6 {
		font-size: 1rem;
	}
}
