/* section 9  created by ahmad fahmi faza*/

.section__9-gallery-slider {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
}
.section__9-container-col {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section__9-gallery-slider__more > a {
  border: none;
  text-decoration: none;
  color: #fc4c02;
}
.section__9-gallery-slider__content {
  padding: 24px;
  background-color: white;
  display: flex;
  justify-content: center;
  border-radius: 6px;
  box-shadow: -1px -1px 15px 3px #e5e5e5;
  margin-top: 16px;
  height: 350px;
  position: relative;
}
.section__9-gallery-slider__content a {
  text-decoration: none;
  color: black;
}
.section__9-gallery-slider__content img {
  height: 165px;
  width: 165px;
  border-radius: 6px;
  margin-bottom: 6px;
}

.section__9-container-card {
  align-items: center;
  overflow: hidden;
  justify-content: center;
  width: 100vw;
}
.section__9-content_card {
  width: 165px;
  margin: 0 6px;
  background-color: white;
}

.section__9-product__status__ready {
  color: rgb(255, 255, 255);
  border-radius: 4px;
  font-weight: bold;
  font-size: small;
  background: var(--ready-stock);
  width: max-content;
  margin: 0;
  padding: 2px 14px 2px;
}
.section__9-product__name {
  font-weight: bold;
  font-size: small;
  padding: 10px 0 0 0;
  max-width: 300px;
  -webkit-line-clamp: 2;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}
.section__9-product__date {
  font-size: x-small;
  color: gray;
  padding: 0 0 10px 0;
}
.section__9-product__price {
  color: #fc4c02;
  font-weight: 600;
}
.section__9-container-card .slick-slide {
  width: 165px;
  margin: 0 6px;
  background-color: white;
}
.section__9-button-slider-prev {
  position: absolute;
  left: 0;
  margin: 0 0 0 10px;
  top: 50%;
  border: none;
  border-radius: 100%;
  width: 48px;
  height: 48px;
  color: rgb(252, 76, 2);
  background: white;
  opacity: 0.5;
  box-shadow: rgba(50, 50, 50, 0.1) -1px -1px 2px 2px;
  transition: opacity 0.25s ease 0s, box-shadow 0.15s ease 0s,
    transform 0.25s ease 0s;
  cursor: pointer;
  z-index: 1;
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 6px;
}
.section__9-button-slider-prev:hover {
  opacity: 1;
}
.section__9-button-slider-next {
  position: absolute;
  right: 0;
  margin: 0 0 0 10px;
  top: 50%;
  border: none;
  border-radius: 100%;
  width: 48px;
  height: 48px;
  color: rgb(252, 76, 2);
  background: white;
  opacity: 0.5;
  box-shadow: rgba(50, 50, 50, 0.1) -1px -1px 2px 2px;
  transition: opacity 0.25s ease 0s, box-shadow 0.15s ease 0s,
    transform 0.25s ease 0s;
  cursor: pointer;
  z-index: 1;
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 6px;
}
.section__9-button-slider-next:hover {
  opacity: 1;
}

/* end section 9 */
