.transactions {
  width: 83%;
  margin: 86px auto 50px;
  min-height: 500px;
}
.transaction-page-content {
  background: #ffffff;
  box-shadow: 1px 1.5px 15px 0 rgba(0, 0, 0, 0.05);
  padding: 20px 24px;
  border-radius: 5px;
}
.transactions-page-tittle {
  font-size: 24px;
  font-weight: bold;
  color: #565252;
  letter-spacing: -0.6px;
  margin-bottom: 22px;
  display: block;
}
.transactions-page-bartop {
  border: none;
  display: flex;
  border-bottom: 2px solid #d1d3d4;
  font-size: 14px;
  line-height: 1.5;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  outline: none;
  zoom: 1;
  gap: 30px;
}
.transactions-page-bartop button {
  background: none;
  padding: 10px 20px;
}
.transactions-btn {
  border: none;
  font-size: 15px;
  font-weight: 700;
  padding-bottom: 5px;
}
.transactions-btn-active {
  border: none;
  font-weight: 700;
  color: #fc4c02;
  border-bottom: 2px solid #fc4c02;
}
.transactions-btn:hover {
  color: #fc4c02;
}
.transactions-loading {
  width: 100%;
  overflow: hidden;
  padding: 64px;
  box-sizing: border-box;
  text-align: center;
}
.transactions-loading h3 {
  font-size: 24px;
}
.transactions-loading a {
  font-size: 18px;
  display: table;
  margin-top: 8px;
  margin: 0px auto;
  color: #fc4c02;
  text-decoration: none;
}
.transactions-loading a:hover {
  text-decoration: underline;
}
