@import "./components/styles/navbar.css";
@import "./components/styles/section1.css";
@import "./components/styles/section2.css";
@import "./components/styles/section3.css";
@import "./components/styles/section4.css";
@import "./components/styles/section5.css";
@import "./components/styles/section6.css";
@import "./components/styles/section7.css";
@import "./components/styles/section8.css";
@import "./components/styles/section9.css";
@import "./components/styles/section10.css";
@import "./components/styles/footer.css";
@import "./components/styles/login.css";
@import "./components/styles/register.css";
@import "./components/styles/reset.css";
@import "./components/styles/section11.css";
@import "./components/styles/root.css";
@import "./components/styles/itemDetail.css"